#endPage{

    background-color: black;
    width: auto;
    height: 97vh;

}

#typedtext{

    color: chartreuse;

    font-size: 1.5em;

    display: flex;
    align-items: center;
    flex-direction: column;



}
/* https://css-tricks.com/snippets/css/typewriter-effect/ */

.css-typing p {
    
    border-right: .15em solid chartreuse;
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    color: chartreuse;
  }

  .css-typing p:nth-child(1) {
    width: 22em;
    -webkit-animation: type2 3s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 31em;
    opacity: 0;
    -webkit-animation: type2 4s steps(40, end);
    animation: type2 4s steps(40, end);
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(3) {
    width: 29.8em;
    opacity: 0;
    -webkit-animation: type2 4s steps(40, end);
    animation: type2 4s steps(40, end);
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(4) {
    width: 37em;
    opacity: 0;
    -webkit-animation: type2 5s steps(40, end);
    animation: type2 5s steps(40, end);
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(5) {
    width: 24em;
    opacity: 0;
    -webkit-animation: type2 3.5s steps(40, end);
    animation: type2 3.5s steps(40, end);
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(6) {
    width: 19em;
    opacity: 0;
    -webkit-animation: type2 3s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-delay: 19.5s;
    animation-delay: 19.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(7) {
    width: 19em;
    opacity: 0;
    -webkit-animation: type2 3s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-delay: 22.5s;
    animation-delay: 22.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(8) {
    width: 17em;
    opacity: 0;
    -webkit-animation: type2 3s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-delay: 25.5s;
    animation-delay: 25.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(10) {
    width: 22em;
    opacity: 0;
    -webkit-animation: type2 4s steps(40, end);
    animation: type2 4s steps(40, end);
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(11) {
    width: 21em;
    opacity: 0;
    -webkit-animation: type2 3s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-delay: 34s;
    animation-delay: 34s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(12) {
    width: 18em;
    opacity: 0;
    -webkit-animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
    animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 37s;
    animation-delay: 37s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }


  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid chartreuse;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid chartreuse;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

.fly{
    background-image: url(../pictures/fly3.png);
    width:30px;
    height:30px;
    

}
#fly_container{
    margin-left: 90%;
}
