#endPage{

    background-color: black;
    width: auto;
    height: auto;

}

#typedtext{

    color: chartreuse;

    font-size: 1.5em;

    display: flex;
    align-items: center;
    flex-direction: column;



}
/* https://css-tricks.com/snippets/css/typewriter-effect/ */



.fly{
    background-image: url(../pictures/fly3.png);
    width:30px;
    height:30px;
    

}
#fly_container{
    margin-left: 90%;
}
