body{
    background-color: black;
}

#mom{
    background-image: url(../pictures/mom_meat_1.jpg);
    height:800px;
    width: auto;
}

#dad{
    background-image: url(../pictures/dad_meat_1.jpg);
    height:800px;
    width: auto;
}

.text-container{
    width: auto;
}
.text{
    color: seashell;
    font-size: 1.8em;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    text-align: center;
}

.button{
    text-align: center;
    
}

.autoplay_audio{
    display:none;
}